<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".data" mimeType="unity/webgl" />
            <mimeMap fileExtension=".bundle" mimeType="unity/webgl" />
        </staticContent>
    </system.webServer>
</configuration>
